body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 100px;
    text-align: center;
    background-color: #888;
    color: #fff;
}

.content {
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
}

.logo {
    padding: 25px 25px;
    font-size: 33px;
    float: left;
    text-decoration: none;
    color: inherit;
}

.header-search {
    padding: 25px 25px;
    font-size: 33px;
    float: right;
    text-decoration: none;
}

.todo {
    margin: 30px auto 0;
    width: 80%;
    height: 100px;
    border: solid 1px #000000;
}

.todo-title {
    text-align: left;
    padding-top: 10px;
    padding-left: 35px;
}

.todo-input {
    float: left;
    padding-left: 35px;
}

.todo-label_2 {
    padding-left: 20px;
}

.todo-text {
    width: 500px;
}

.todo-submit {
    float: left;
    padding-left: 300px;
}

.todo-submit_button {
    width: 100px;
    height: 50px;
}

.create-area {
    margin: 30px auto 0;
    width: 80%;
    height: 100px;
    border: solid 1px #000000;
}

.todo-list-submit {
    float: left;
    padding-left: 700px;
}

.todo-message {
    color: red;
}

.search {
    margin-top: 30px;
}

.search-text {
    width: 500px;
}