<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>ToDoリスト</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="parts/header"></div>

<div class="content">
    <div class="todo">
        <div class="todo-title">新しいToDoを作成する</div>
        <div class="todo-input">
            <span>
                <span class="todo-label_1">ToDo名</span>
                <input class="todo-text" type="text">
            </span>
            <br>
            <span>
                <span class="todo-label_2">期日</span>
                <input class="todo-text" type="text">
            </span>
        </div>
        <div class="todo-submit">
            <button class="todo-submit_button">ToDoの追加</button>
        </div>
    </div>

    <h3 class="todo-message" th:text="|ToDoが${todoDtoList.size()}件見つかりました|"></h3>

    <div class="todo" th:each="todo : ${todoDtoList}">
        <div class="todo-title" th:text="${todo.getName()}"></div>
        <div class="todo-input">
            <span>
                <span class="todo-list-label_1">期限：</span>
                <label class="todo-list-text" th:text="${todo.getDeadline()}"></label>
            </span>
            <br>
            <span>
                <span class="todo-list-label_2">作成日：</span>
                <label class="todo-list-text" th:text="${todo.getCreateAt()}"></label>
            </span>
        </div>
        <div class="todo-list-submit">
            <button class="todo-submit_button" th:attr="onclick='location.href=\'/edit/' + ${todo.getTodoId()} + '\''">編集</button>
            <button class="todo-submit_button" th:text="${todo.isCompletionFlg()} ? '完了' : '未完了'"></button>
        </div>
    </div>
</div>

</body>
</html>