<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>ToDoリスト</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="parts/header"></div>

<div class="content">

    <form class="search">
        <input class="search-text" name="text" type="text" th:value="${text == null} ? '' : ${text}">
        <input class="search-submit" type="submit" value="検索">
    </form>

    <h3 class="todo-message" th:if="${text != null}" th:text="${todoDtoList.size() == 0} ? '対象のToDoは見つかりません' : 'ToDoが' + ${todoDtoList.size()} + '件見つかりました'"></h3>

    <form class="todo" th:each="todo : ${todoDtoList}" action="/update/status" method="post">
        <div class="todo-title">
            <a th:text="${todo.getName()}" th:href="|/edit/${todo.getTodoId()}|"></a>
        </div>
        <div class="todo-input">
            <span>
                <span class="todo-list-label_1">期限：</span>
                <label class="todo-list-text" th:text="${todo.getDeadline()}"></label>
            </span>
            <br>
            <span>
                <span class="todo-list-label_2">作成日：</span>
                <label class="todo-list-text" th:text="${todo.getCreateAt()}"></label>
            </span>
        </div>
        <div class="todo-list-submit">
            <input type="hidden" name="todoId" th:value="${todo.getTodoId()}">
            <input type="hidden" name="completionFlg" th:value="${todo.isCompletionFlg()}">
            <button class="todo-submit_button" th:text="${todo.isCompletionFlg()} ? '完了' : '未完了'"></button>
        </div>
    </form>
</div>

</body>
</html>