<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>ToDoリスト</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="parts/header"></div>

<div class="content">

    <form class="search">
        <input class="search-text" type="text">
        <input class="search-submit" type="submit" value="検索">
    </form>

    <h3 class="todo-message">ToDoが2件見つかりました</h3>

    <div class="todo">
        <div class="todo-title">レポート概要を作る</div>
        <div class="todo-input">
            <span>
                <span class="todo-list-label_1">期限：</span>
                <label class="todo-list-text">2016年8月10日</label>
            </span>
            <br>
            <span>
                <span class="todo-list-label_2">作成日：</span>
                <label class="todo-list-text">2016年8月1日</label>
            </span>
        </div>
        <div class="todo-list-submit">
            <button class="todo-submit_button">編集</button>
            <button class="todo-submit_button">完了</button>
        </div>
    </div>

    <div class="todo">
        <div class="todo-title">レポート概要を作る</div>
        <div class="todo-input">
            <span>
                <span class="todo-list-label_1">期限：</span>
                <label class="todo-list-text">2016年8月10日</label>
            </span>
            <br>
            <span>
                <span class="todo-list-label_2">作成日：</span>
                <label class="todo-list-text">2016年8月1日</label>
            </span>
        </div>
        <div class="todo-list-submit">
            <button class="todo-submit_button">編集</button>
            <button class="todo-submit_button">完了</button>
        </div>
    </div>
</div>

</body>
</html>